asgiref==3.2.7
Django==3.0.7
django-cors-headers==3.3.0
djangorestframework==3.11.0
djangorestframework-files==1.1.0
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
