.landing {
    background-color: white;
    height: inherit;
    color: #555555;
}

.landing .row {
    height: inherit;
}

.sign h2 {
    padding-left: 1rem;
}

.sign p {
    padding-left: 1rem;
    cursor: pointer;
}

.sign p:hover {
    color: #007bff;
}