.landing {
    background-color: white;
    height: auto;
    color: #555555;
}

.landing .row {
    padding-top: 10vh;
    height: auto;
}

.sign h2 {
    padding-left: 1rem;
}

.sign p {
    padding-left: 1rem;
    cursor: pointer;
}

.sign p:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .landing .row {
        padding-top: 5vh;
    }

    .image img {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .sign {
        margin-top: 10vh !important;
    }
}