.fixedTop-1 {
    font-weight: 700;
    color: white;
}

.navbar-text {
    color: unset !important;
}

input[type=date] {
    border-top-right-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
}

input[type=time] {
    border-top-right-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
}

.fixedTop-2 {
    padding-top: 3vh !important;
    width: 85vw;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.fixedTop-2:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-2 {
    margin-left: auto;
    width: 75vw;
}

.nav-2 .row {
    width: inherit;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navbar-text {
    font-weight: 500;
    color: #eeeeee !important;
}

.search-btn svg {
    position: relative !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

@media screen and (max-width: 576px) {
    .fixedTop-2 {
        padding-top: 1vh !important;
    }

    .nav-2 {
        margin-top: 2vh;
    }
}

@media screen and (max-width: 992px) {
    .fixedTop-2 {
        width: 95vw;
    }

    .nav-2 {
        width: 90vw;
    }
}